.efy-button {
    border: none;
    padding: 13px 50px;
    background-color: #ffd43e;
    border-radius: 50px;
    font-weight: bold;
    font-size: 13px;
}

.efy-button-primary {

}

.efy-button-secondary {
    background-color: blue;
}